* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 350px;
}

.logo-img{
    height: auto;
    width: 200px;
    object-fit: contain;
}


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.right-nav {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-nav span {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}

.quote-btn {
    padding: 15px 25px;
    background-color: #e53935;
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    margin-left: 30px;
    margin-right: 40px;
}

.first-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    background-color: #ffffff;
    padding-bottom: 200px;
}

.first-section h1{
    font-size: 60px;
    font-weight: 600;
    width: 500px;
}

.first-section-img{
    position: relative;
    width: 50%;
}

.group-img{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -20px;
}

.first-section-text{
    padding-top: 100px;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 200px;
    position: relative;
}

.sub-text{
    color: grey;
    font-size: 16px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.call-for {
    color: #e53935;
    font-size: 25px;
    font-weight: 500;
}

.contact-btn {
    border: 1px solid grey;
    padding: 15px 40px;
    font-size: 18px;
    color: grey;
    background-color: white;
    width: 200px;
}

.hero-image img {
    width: 400px;
    height: auto;
}

.services {
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.service-cards {
    text-align: center;
    width: 150px;
    height: 150px;
    border: none;
    background-color: #ECEEE9;
    border-radius: 20px;
    margin-bottom: 10px;
}

.service-cards img {
    width: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    object-fit: cover;
}

.service-cards p {
    font-size: 14px;
    color: #333;
}

nav{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.services div{
    align-content: center;
    text-align: center;
}

.second-section{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-top: 100px;
   align-items: center;
   padding-bottom: 50px;
}

.second-section h1{
    margin-bottom: 50px;
    font-size: 30px;
}

.second-section p{
    width: 700px;
    color: grey;
    line-height: 30px;
    margin-bottom: 50px;
}

.second-section button{
    width: 140px;
    padding: 10px 20px;
    background-color: rgb(237, 14, 14);
    color: white;
    border: none;
    font-size: 18px;
}

.three-section{
    display: flex;
    flex: row;
    background-color: white;
    justify-content: center;
    padding-top: 150px;
}

.three-section-left{
    width: 50%;
    justify-content: end;
    padding-left: 160px;
}

.three-section-left h1{
    font-size: 35px;
    margin-bottom: 40px;
}

.three-section-left p{
    color: grey;
    font-size: 18px;
    margin-bottom: 70px;
}

.three-section-left button{
    border: 2px solid grey;
    background-color: transparent;
    padding: 10px 18px;
    font-size: 20px;
    color: grey;
}

.three-section-right{
    width: 40%;
    justify-content: center;
    padding-left: 50px;
    flex-direction: column;
}

.three-section-right div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.three-section-right p{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
    line-height: 40px;
}

.three-section-right img{
    width: 40px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.container{
    position: relative;
}

.item{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 300px;
    left: 400px;
}

.container img{
    width: 100%;
    height: auto;
    z-index: 0;
    object-fit: contain;
    margin-bottom: 100px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.item h1{
    margin-bottom: 30px;
}

.item p{
    color: grey;
    font-size: 20px;
    width: 350px;
    text-align: center;
    margin-bottom: 40px;
}

.phone p{
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.fourth-section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.fourth-section-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    padding-left: 200px;
}

.fourth-section-left p{
    color: grey;
    width: 320px;
    line-height: 30px;
    margin-bottom: 40px;
}

.fourth-section-left h1{
    font-size: 35px;
    margin-bottom: 25px;
}

.line-2{
    height: 1px;
    width: 30px;
    background-color: #e53935;
    margin-bottom: 10px;
}

.faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.faq span{
    margin-right: 20px;
    font-size: 40px;
    font-weight: 200;
    color: red;
}

.fourth-section-right{
    width: 50%;
    height: 550px;

}

.fourth-section-right img{
    height: 100%;
    padding-left: 200px;
}